doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/bootstrap-toggle.min.css')
    link(rel='stylesheet', href='css/bootstrap-slider.min.css')
    link(rel='shortcut icon', type='image/png', href='/images/avg.png')
    link(rel='icon', type='image/png', href='/images/avg.png')
    
    script(src="js/jquery.js")
    //<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    //<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    script(src="js/bootstrap.js")
    script(src="js/bootstrap-toggle.min.js")
    script(src="js/mdb.js")
    script(src="js/bootstrap-slider.min.js")
    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  body
    //div(class='container')
    include menu
    div(class='container-fluid')
        block content