doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= title

        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='css/mdb.min.css')
        link(rel='stylesheet', href='css/custom.css')
        link(rel='shortcut icon', type='image/png', href='/images/avg.png')
        link(rel='icon', type='image/png', href='/images/avg.png')
        script(src="js/jquery.js")
        script(src="js/bootstrap.js")
        script(src="js/mdb.js")
    body
        include menu
        div(class='container-fluid')
            block content
