if (authorized)
    div
        nav(class='navbar navbar-expand-md navbar-dark bg-dark')
            a(class="navbar-brand", href="#")
                div(class="d-flex align-items-center")
                    img(src="/images/avg.png", class='mx-3', width="30", height="30", alt="")
                    span(class='fs-2') Контроль
            button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbar1")
                span(class="navbar-toggler-icon")
            div(class="navbar-collapse collapse", id="navbar1", style)
                if (authorized)
                    ul(class="navbar-nav mr-auto")
                        li(class="nav-item active")
                            <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                        li(class="nav-item")
                            a(class="nav-link" href="/entries") 169
                        li(class="nav-item")
                            a(class="nav-link" href="/entries2") 180
                        li(class="nav-item")
                            a(class="nav-link" href="/register") Profile
                else
                    ul(class="navbar-nav mr-auto")
                        li(class="nav-item active")
                            <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                        li(class="nav-item")
                            a(class="nav-link" href="/register") Register
