extends layout

block content
    div(class='row')
        div(class='col-1')
        div(class='col-')
        h1= title
    div(class='row')
        div(class='col-1')
        div(class='col-')
        p Fill in the form below to register
    div(class='row')
        div(class='col-1')
        div(class='col-')
        include messages
    div(class='row')
        div(class='col-1')
        div(class='col-')
            form(action='/register' method='post')
                div(class="form-group")
                    label(for="InputEmail") Email address
                    input(type="email", class="form-control", id="InputEmail", aria-describedby="emailHelp", placeholder="Enter email", name='user[mail]')
                    small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else.
                div(class="form-group")
                    label(for="InputPhone") Phone
                    input(type="tel" class="form-control" id="InputPhone" placeholder="Phone number" name='user[phone]')
                div(class="form-group")
                    label(for="InputMAC") MAC
                    input(type="text" class="form-control" id="InputMAC" placeholder="Any MAC address" name='user[mac]')
                div(class="form-group")
                    label(for="InputPassword") Password
                    input(type="password" class="form-control" id="InputPassword" placeholder="Password" name='user[pass]')
                    p
                    input(type="password" class="form-control" id="InputPassword2" placeholder="Repeat Password" name='user[pass2]')
                button(type="submit" class="btn btn-primary") Sign In